# Python cache/env
__pycache__/
*.pyc
.venv/
.env

# Model/data/artifacts
/models
/eval_output_0718
/eval_output_0820
/eval_output_passk
/checkpoint
/outputs
/results
/verl0.8.0
/checkpoint_rerun0711
/checkpoint_rerun0820
/datasets
/logs
/log
/swanlog
*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.tar
*.zip

# IDE/system
.vscode/
.idea/
.DS_Store

# others
*.whl
*.pdf
